<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="login">
    <classes>
      <class name="com.api.automation.testcase.API_Login"/>
    </classes>
  </test>
  <test name="info">
    <classes>
      <class name="com.api.automation.testcase.API_UserInformation"/>
    </classes>
  </test>
  <test name="create work">
    <classes>
      <class name="com.api.automation.testcase.API_CreateWork"/>
    </classes>
  </test>
  <test name="Create Application">
    <classes>
      <class name="com.api.automation.testcase.API_CreateApplication"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
